.loginContainer {
  width: $full-height-width;
  height: $calc-height;
}

.loginRow {
  height: $full-height-width;
}

.loginImageContainer {
  background-color: $primary-color;
  height: $full-height-width;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.loginImageImg {
  width: $full-height-width;
  height: $full-height-width;
  object-fit: cover;
  display: block;
  border-radius: 24px;
}

@media (max-width: 991px) {
  .loginImageContainer {
    display: none !important;
  }
  .loginContainer {
    background-color: $primary-color;
  }
}
